*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg{
    background-color:rgb(201, 182, 230);
    width:100vw;
    height:100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.input{
    height: 32px;
    width: 150px;
}

.btn{
    width: 100px;
    height: 35px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: black;
    margin-left: 5px;

}
.time{
    margin: 10px;
}

.para{
    margin: 10px;
}









